<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 h-auto col-md-10 offset-md-1">
      <div class="card body15">
        <div class="card-content">

          <div class="card-body titulo">
            <h4 class="card-title titulo-perfis">PERFIS CADASTRADOS</h4>
          </div>

          <%# Students in Narratives %>
          <% @narratives.each do |narrative| %>
            <div class="card-body row text-center tborder gedf-card" id="<%= narrative.title %>">
              <div class="col tableMesa">
                <table class="table table-borderless table-responsive-md">

                  <thead class="tfont">
                    <tr>
                      <th colspan="2"><%= narrative.title %></th>
                      <th>Inscritos: <%= narrative.students.length %> / <%= narrative.size %></th>
                      <th><%= link_to 'Editar Narrativa', edit_narrative_path(narrative) %></th>
                    </tr>
                  </thead>

                  <thead class="tfontheader">
                    <tr>
                      <th scope="col">Aluno</th>
                      <th scope="col">Instituição</th>
                      <th scope="col">Mesa</th>
                      <%# <th scope="col">Status do usuário</th> %>
                      <th scope="col" class="text-center">Salvar</th>
                    </tr>
                  </thead>

                  <tbody class="tfontbody">
                    <% narrative.students.each do |student| %>
                      <%= form_with(scope: :user, local: true, url: user_path(student), method: :patch) do |form| %>
                        <tr id="<%= student.name %>-<%= student.id %>">
                          <td scope="col"><%= student.name %></td>
                          <td scope="col"><%= student.institution %></td>
                          <td scope="col">
                            <%= form.select(:narrative_id,
                                            @narratives_select,
                                            { :selected => student.narrative_id },
                                            { :class => "custom-select" })
                            %>
                          </td>
                          <td scope="col">
                            <div class="users-actions">
                              <button type="submit" class="btn-salvar">
                                <img src="<%= image_url('Icon awesome-check.svg') %>" alt="">
                              </button>
                            </div>
                          </td>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>

          <%# Remaining Students %>
          <div class="card-body row text-center tborder gedf-card">
            <div class="col tableMesa">
              <table class="table table-borderless table-responsive-md">

                <thead class="tfont">
                  <tr>
                    <th>Alunos sem Narrativa</th>
                    <th>Total: <%= @remaining_students.length %></th>
                  </tr>
                </thead>

                <thead class="tfontheader">
                  <tr>
                    <th scope="col">Aluno</th>
                    <th scope="col">Instituição</th>
                    <th scope="col">Mesa</th>
                    <th scope="col">Status do usuário</th>
                    <th scope="col" class="text-center">Salvar</th>
                  </tr>
                </thead>

                <tbody class="tfontbody">
                  <% @remaining_students.each do |student| %>
                    <%= form_with(scope: :user, local: true, url: user_path(student), method: :patch) do |form| %>
                      <tr id="<%= student.name %>-<%= student.id %>">
                        <td scope="col"><%= student.name %></td>
                        <td scope="col"><%= student.institution %></td>
                        <td scope="col">
                          <%= form.select(:narrative_id, @narratives_select, { :value => student.narrative_id }, { :class => "custom-select" }) %>
                        </td>
                        <td scope="col">
                          <%= form.select(:type, [["Aluno", "Student"], ["Narrador", "Narrator"]], { :value => student.type }, { :class => "custom-select" }) %>
                        </td>
                        <td scope="col">
                          <div class="users-actions">
                              <button type="submit" class="btn-salvar">
                                <img src="<%= image_url('Icon awesome-check.svg') %>" alt="">
                              </button>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>

          <%# Narrators %>
          <div class="card-body row text-center tborder gedf-card" id="narrators">
            <div class="col tableMesa">
              <table class="table table-borderless table-responsive-md">

                <thead class="tfont">
                  <tr>
                    <th>Narradores</th>
                    <th>Total: <%= @narrators.length %></th>
                  </tr>
                </thead>

                <thead class="tfontheader">
                  <tr>
                    <th scope="col">Narrador</th>
                    <th scope="col">Instituição</th>
                    <th scope="col">Status do usuário</th>
                    <th scope="col" class="text-center">Salvar</th>
                  </tr>
                </thead>

                <tbody class="tfontbody">
                  <% @narrators.each do |narrator| %>
                    <%= form_with(scope: :user, local: true, url: user_path(narrator), method: :patch) do |form| %>
                      <tr id="<%= narrator.name %>-<%= narrator.id %>" >
                        <td scope="col"><%= narrator.name %></td>
                        <td scope="col"><%= narrator.institution %></td>
                        <td scope="col">
                          <%= form.select(:type, [["Narrador", "Narrator"], ["Aluno", "Student"]], { :value => narrator.type }, { :class => "custom-select" }) %>
                        </td>
                        <td scope="col">
                          <div class="users-actions">
                              <button type="submit" class="btn-salvar">
                                <img src="<%= image_url('Icon awesome-check.svg') %>" alt="">
                              </button>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>