<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 h-auto col-md-10 offset-md-1">
      <div class="card body15">
        <div class="card-content">

          <div class="card-body">
            <h4 class="card-title">PERFIS CADASTRADOS</h4>
          </div>

          <div class="card-body row text-center tborder">
              <div class="col tableMesa">
                <table class="table table-borderless table-responsive-md">

                  <thead class="tfontheader">
                    <tr>
                      <th>Nome da Mesa</th>
                      <th>Inscritos: 4/5</th>
                    </tr>
                  </thead>

                  <thead class="tfontheader">
                    <tr>
                      <th scope="col">Aluno</th>
                      <th scope="col">Instituição</th>
                      <th scope="col">Mesa</th>
                      <th scope="col">Status do usuário</th>
                      <th scope="col">Excluir</th>
                    </tr>
                  </thead>

                  <tbody class="tfontbody">
                    <tr>
                      <th scope="col">JOÃO DA SILVA PINTO</th>
                      <td scope="col">UNIVERSIDADE DE BRASÍLIA</td>
                      <td scope="col">
                        <select class="custom-select">
                          <option selected>Selecionar</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </td>
                      <td scope="col">
                        <select class="custom-select">
                          <option selected>Selecionar</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </td>
                      <td scope="col"><i class="fas fa-user-times" style="color:red"></i></td>
                    </tr>
                    <tr>
                      <th scope="col">JOÃO DA SILVA PINTO</th>
                      <td scope="col">UNIVERSIDADE DE BRASÍLIA</td>
                      <td scope="col">
                        <select class="custom-select">
                          <option selected>Selecionar</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </td>
                      <td scope="col">
                        <select class="custom-select">
                          <option selected>Selecionar</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </td>
                      <td scope="col"><i class="fas fa-user-times" style="color:red"></i></td>
                    </tr>
                    <tr>
                      <th scope="col">JOÃO DA SILVA PINTO</th>
                      <td scope="col">UNIVERSIDADE DE BRASÍLIA</td>
                      <td scope="col">
                        <select class="custom-select">
                          <option selected>Selecionar</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </td>
                      <td scope="col">
                        <select class="custom-select">
                          <option selected>Selecionar</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </td>
                      <td scope="col"><i class="fas fa-user-times" style="color:red"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if false %>

<h1>Index</h1>

<% @narratives.each do |narrative| %>

  <h2><%= narrative.title %> | <%= narrative.students.length %> / <%= narrative.size %></h2>
  <h3>Narrador: <%= narrative.narrator.name %></h3>

  <ul>
    <% narrative.students.each do |student| %>
      <li><%= student.name %> | <%= link_to 'Editar', edit_user_path(student) %></li>
    <% end %>
    <% if !narrative.full? %>
      <% for i in 1..(narrative.size - narrative.students.length) %>
        <li></li>
      <% end %>
    <% end %>
  </ul>

<% end %>

<h2>Alunos sem narrativa</h2>
<ul>
  <% @remaining_students.each do |student| %>
    <li><%= student.name %> | <%= link_to 'Editar', edit_user_path(student) %></li>
  <% end %>
</ul>

<% end %>