<%= form_with(model: narrative, local: true) do |form| %>
  <% if narrative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(narrative.errors.count, "error") %> prohibited this narrative from being saved:</h2>

      <ul>
        <% narrative.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :título %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :tamanho %>
    <%= form.number_field :size %>
  </div>

  <div class="field">
    <%= form.label :descrição %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar, direct_upload: true %>
  </div>

  <div class="field">
    <%= form.label :narrador %>
    <%= form.select(:user_id, @narrators) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
