<p id="notice"><%= notice %></p>
<div class="container-fluid" >
  <div class="row">
    <div class="col-sm-10 h-auto col-md-10 offset-md-1">
      <div class="card body15">
        <div class="narratives-header">
          <h1>CAMPANHAS</h1>
          <% if can? :manage, Narrative %>
            <div class="links">
              <%= link_to "Arquivar Narrativas", archive_narratives_path, method: :patch, data: { confirm: "Tem certeza? Todas as Narrativas serão arquivadas" } %>
              <% if Narrative.first.nil? %>
                <%# If no narratives present in database, then show no link %>
              <% elsif Narrative.open? %>
                <%= link_to 'Fechar Inscrições', open_registration_narratives_path, method: :patch %>
              <% else %>
                <%= link_to 'Abrir Inscrições', open_registration_narratives_path, method: :patch %>
              <% end %>
              <a href="<%= users_path %>">
                <img src="<%= image_url('Pergaminho.svg') %>" alt="">
                <span>Lista de Inscritos</span>
              </a>
              <a href="<%= new_narrative_path %>">
                <img src="<%= image_url('Espada.svg') %>" alt="">
                <span>Criar Nova Campanha</span>
              </a>
            </div>
          <% end %>
        </div>
        <div class="cards">
          <% @narratives.each do |narrative| %>
            <a href="<%= narrative_path(narrative) %>" class="card-narrative">
              <div class="card-header card-header-narrative">
                <% if narrative.cover.attached? %>
                  <%= image_tag(narrative.cover) %>
                <% else %>
                  <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="d-block w-100">
                <% end %>
              </div>

              <div class="card-body card-body-narrative">
                <h2 class="card-title card-title-narrative"><%= narrative.title %></h2>
                <p class="card-text card-text-narrative" id="text"><%= sanitize narrative.description.to_html[0..80] %></p>

                <div class="footer-narrative">
                  <div class="narrative-card-footer">
                    <% if narrative.open %>
                      <img src="<%= image_url('haVagas.svg') %>" alt="">
                    <% else %>
                      <img src="<%= image_url('Lock.svg') %>" alt="">
                    <% end %>
                    <span>
                      <b><%= narrative.students.length %> / <%= narrative.size %></b>
                      Inscritos
                    </span>
                  </div>
                </div>
              </div>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
