<p id="notice"><%= notice %></p>
<div class="container-fluid" >
  <div class="row">
    <div class="col-sm-10 h-auto col-md-10 offset-md-1">
      <div class="card body15">
        <div class="narratives-header">
          <h1>CAMPANHAS</h1>
          <% if can? :manage, Narrative %>
            <div class="links">
              <a href="<%= users_path %>">
                <img src="<%= image_url('Pergaminho.svg') %>" alt="">
                <span>Lista de Inscritos</span>
              </a>
              <a href="<%= new_narrative_path %>">
                <img src="<%= image_url('Espada.svg') %>" alt="">
                <span>Criar Nova Campanha</span>
              </a>
            </div>
          <% end %>
        </div>
        <div class="narratives-container">
          <div class="">
            <% @narratives.each do |narrative| %>
              <a href="<%= narrative_path(narrative) %>" class="narrative-card">
                <% if narrative.avatar.attached? %>
                  <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="d-block w-100">
                  <%# <%= image_tag(narrative.avatar) %>
                <% end %>
                <h2>
                  <%= narrative.title %>
                </h2>
                <p>
                  <%= truncate(narrative.description, length: 130) %>
                </p>
                <div class="narrative-card-footer">
                  <% if narrative.open %>
                    <span>Há vagas</span>
                  <% else %>
                    <img src="<%= image_url('Lock.svg') %>" alt="">
                  <% end %>
                  <span>
                    <b>
                      <%= narrative.students.length %> / <%= narrative.size %> <br>
                    </b>
                    Inscritos
                  </span>
                </div>
              </a>
            <% end %>
          </div>
          <% if can? :manage, Narrative %>
            <% if Narrative.first.nil? %>
              <%# If no narratives present in database, then show no link %>
            <% elsif Narrative.open? %>
              <%= link_to 'Fechar Inscrições', open_registration_narratives_path, method: :patch %> <br>
            <% else %>
              <%= link_to 'Abrir Inscrições', open_registration_narratives_path, method: :patch %> <br>
            <% end %>
          <% end %>
          <%= link_to 'Início', root_path %>
        </div>
      </div>
    </div>
  </div>
</div>
