<p id="notice"><%= notice %></p>

<h1>Narratives</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Número de Jogadores</th>
      <th>Descrição</th>
      <th>Aberta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @narratives.each do |narrative| %>
      <tr>
        <td><%= narrative.title %></td>
        <td><%= narrative.students.length %> / <%= narrative.size %></td>
        <td><%= narrative.description %></td>
        <td><%= narrative.open %></td>
        <td><%= link_to 'Visualizar', narrative %></td>
        <td><%= link_to 'Editar', edit_narrative_path(narrative) %></td>
        <td><%= link_to 'Deletar', narrative, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :manage, Narrative %>
  <% if Narrative.first.nil? %>
    <%# If no narratives present in database, then show no link %>
  <% elsif Narrative.open? %>
    <%= link_to 'Fechar Inscrições', open_registration_narratives_path, method: :patch %> <br>
  <% else %>
    <%= link_to 'Abrir Inscrições', open_registration_narratives_path, method: :patch %> <br>
  <% end %>
<% end %>

<% if can? :manage, Narrative %>
  <%= link_to 'Nova Narrativa', new_narrative_path %> <br>
<% end %>

<%= link_to 'Início', root_path %>
