<p id="notice"><%= notice %></p>

<div class="main" id="narratives-index">

  <div class="narratives-header">
    <h1>CAMPANHAS</h1>

    <% if can? :manage, Narrative %>
      <div class="links">
        <%= link_to 'Lista de Inscritos', users_path %>
        <%= link_to 'Criar Nova Campanha', new_narrative_path %>
      </div>
    <% end %>
  </div>

    <div class="narratives-container">
      <% @narratives.each do |narrative| %>
        <a href="<%= narrative_path(narrative) %>" class="narrative-card">

          <% if narrative.avatar.attached? %>
            <%= image_tag(narrative.avatar)%>
          <% end %>
          <h2>
            <%= narrative.title %>
          </h2>
          <%= truncate(narrative.description, length: 200) %>

          <div class="narrative-card-footer">
            <% if narrative.open %>
              <span>Há vagas</span>
            <% else %>
              <img src="<%= image_url('Lock.svg') %>" alt="">
            <% end %>
            <span>
              <%= narrative.students.length %> / <%= narrative.size %> <br>
              Inscritos
            </span>
          </div>
        </a>
      <% end %>
    </div>

  <% if can? :manage, Narrative %>
    <% if Narrative.first.nil? %>
      <%# If no narratives present in database, then show no link %>
    <% elsif Narrative.open? %>
      <%= link_to 'Fechar Inscrições', open_registration_narratives_path, method: :patch %> <br>
    <% else %>
      <%= link_to 'Abrir Inscrições', open_registration_narratives_path, method: :patch %> <br>
    <% end %>
  <% end %>

  <%= link_to 'Início', root_path %>

</div>
