<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row" >
    <div class="h-auto col-md-10 offset-md-1" >
      <div class="header-narr">
        <div
          class="narrative-header"
          style="background-image: url(<%= @narrative.avatar.attached? ? rails_blob_url(@narrative.avatar) : image_url('chatMesa.svg') %>)"
        >
          <h2><%= @narrative.title %></h2>
          <h3>Narrado por ~<%= @narrative.narrator.name %></h3>
        </div>
      </div>
      <div class="card-body body">
        <div class="row narrative-body">
          <div class="col-md-3">
            <div class="left">
              <div class="actions">

                <% if not @narrative.open? %>
                  <%= render partial: "choose", locals: { css_class: "closed" } %>
                <% elsif @narrative.full? %>
                  <%= render partial: "choose", locals: { css_class: "full" } %>
                <% elsif current_user.narrative == @narrative %>
                  <%= render partial: "choose", locals: { css_class: "chosen" } %>
                <% else %>
                  <%= render partial: "choose", locals: { css_class: "" } %>
                <% end %>

                <div class="action">
                  <h3 class="font-weight-bold">
                    <%= @narrative.students.length %> / <%= @narrative.size %>
                  </h3>
                  <span>Inscritos</span>
                </div>

                <%= link_to new_narrative_post_path(@narrative), class: "action" do %>
                  <h3>
                    <img src="<%= image_url('videoCam.svg') %>" alt="">
                  </h3>
                  <span>Adicionar Conteúdo</span>
                <% end %>

                <div class="action" id="blue">
                  <h3>
                    <img src="<%= image_url('chatMesa.svg') %>" alt="">
                  </h3>
                  <span>Chat da mesa</span>
                </div>
              </div>
              <div class="students">
                <% @narrative.students.each do |student| %>
                  <%= link_to user_path(student), class: "student" do %>
                    <img src="<%= image_url('iconStudent.svg') %>" alt="">
                    <span class="name"><%= truncate(student.name, length: 19) %></span>
                    <span class="nickname"><%= student.nickname %></span>
                  <% end %>
                <% end %>
              </div>
              <%= link_to 'Editar', edit_narrative_path(@narrative) %> |
              <%= link_to 'Voltar', narratives_path %>
            </div>
          </div>
          <div class="col-md-9">
            <div class="right">
              <div class="narrative-content">
                <h3>Sinopse da Mesa</h3>
                <span><%= @narrative.description %></span>
              </div>

              <% @narrative.posts.each do |post|  %>
                <div class="narrative-content">
                  <h3><%= post.user.name %></h3>
                  <span><%= post.body %></span>
                  <br>
                  <span>
                    <% post.files.each do |file| %>
                      <br><%= link_to file.filename, rails_blob_path(file, disposition: "attachment") %> <%# url_for(file) %>
                    <% end %>
                  </span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
