<p id="notice"><%= notice %></p>

<%= image_tag(@narrative.avatar) %>

<p>
  <strong>Título:</strong>
  <%= @narrative.title %>
</p>

<p>
  <strong>Narrador:</strong>
  <%= @narrative.narrator.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @narrative.description %>
</p>

<p>
  <strong>Número de Jogadores:</strong>
  <%= @narrative.size %>
</p>

<span>Jogadores: </span>
<ul>
  <% @narrative.students.each do |student| %>
    <li><%= student.name %></li>
  <% end %>
</ul>

<% if can? :choose_narrative, @narrative %>
  <%= link_to 'Escolher essa narrativa', "/users/choose_narrative/#{@narrative.id}", method: :patch %> <br>
<% end %>
<%= link_to 'Editar', edit_narrative_path(@narrative) %> |
<%= link_to 'Voltar', narratives_path %>
