<div style="background-color: white">
  <%= form_with(model: [narrative, post], local: true) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body %>
    </div>

    <div class="field">
      <%= form.label :allow %>
      <%= form.text_field :allow %>
    </div>

    <div class="field">
      <%= form.file_field :files, multiple: true %>
    </div>


    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
