<nav>
  <div class="content">
    <a href="<%= root_path %>">
      <img src="<%= image_url('Logo.svg') %>" >
    </a>

    <div class="site-actions">
      <% if current_user.student? and current_user.narrative  %>
        <a href="<%= narrative_path(current_user.narrative) %>" class="btn-navbar">
          <img src="<%= image_url('Pergaminho.svg') %>" alt="">
          <span>Minha Mesa</span>
        </a>
      <% end %>
      <a href="<%= narratives_path %>" class="btn-navbar">
        <img src="<%= image_url('Espada.svg') %>" alt="">
        <span>Campanhas</span>
      </a>
      <a href="<%= root_path %>" class="btn-navbar">
        <img src="<%= image_url('Arquivos.svg') %>" alt="">
        <span>Fórum</span>
      </a>
      <% if can? :media, :welcome %>
        <a href="/media" class="btn-navbar">
          <img src="<%= image_url('Midia.svg') %>" alt="">
          <span>Midioteca</span>
        </a>
      <% end %>
    </div>

    <div class="user-actions">
      <a href="<%= root_path %>" class="btn-circle">
        <img src="<%= image_url('Conversation.svg') %>" alt="">
      </a>
      <a href="<%= root_path %>" class="btn-circle">
        <img src="<%= image_url('Notification.svg') %>" alt="">
      </a>
      <a href="<%= root_path %>" class="btn-circle">
        <img src="<%= image_url('ConfigureProfile.svg') %>" alt="">
      </a>
    </div>
  </div>
</nav>