<div class="container create">
  <div class="login-logo">
    <img src="<%= image_url('Logo.png') %>" >
  </div>
  <div class="login-grid">
    <div class="login-wrap">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>
          <div class="form-group-login mt-2 my-1">
            <%= f.label :name, "Nome Completo: " %>
            <%= f.text_field :name, autofocus: true, class: "form-control rounded-left dashed", placeholder:"(Ex: Joaquim Alves da Silva)"%>
          </div>
          <div class="form-group-login my-1">
            <%= f.label :institution, "Instituição" %>
            <%= f.text_field :institution, class:"form-control rounded-left dashed" %>
          </div>
          <div class="form-group-login my-1">
            <%= f.label :registration_number, "Matrícula" %>
            <%= f.text_field :registration_number, class:"form-control rounded-left dashed" %>
          </div>
          <div class="form-group-login my-1">
            <%= f.label :age, "Idade" %>
            <%= f.number_field :age , class:"form-control rounded-left dashed" %>
          </div>
          <div class="form-group-login my-1">
            <%= f.label :nickname, "Apelido" %>
            <%= f.text_field :nickname , class:"form-control rounded-left dashed"%>
          </div>
          <div class="actions-cadastrar">
            <%= f.submit "Finalizar" %>
          </div>
        <% end %>
      <div class="form-group">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>